
.containerMov{  
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  max-height: 900px;
  padding-top: rem;
  position: relative;
}
.card1 {
  
  background-color: #fff;
  max-width: 800px;
  box-shadow: 2px 2px 5px #9E9E9E, -1px -1px 5px #9E9E9E;
  border-radius: 3px;
  display: grid;  
  max-height: 900px;
}
.card1 .img-container {
  width: 300px;
  height: 100%;
  grid-column: 2;
  background-color: #c1b7b4;
  background-size: cover;
  background-position: center center;
  
}
.card-content {
  grid-column: 3 / 5;
  padding: 50px 30px;
  border-left: 1px solid #ccc;
  align-content: center;  
}

.card-content .author {
  border-top: 1px solid #cdcdcd;
  font-weight: 700;
  margin-top: 25px;
  padding: 25px 0 10px 0;
  color: #555;
}

/* rating*/

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stars__text {
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.5;
  margin-left: 0.5em;
}

/* Ratings */
.rating:not(:checked) > input {
  display: none;
}

#like:not(:checked) > label {
  cursor: pointer;
  float: right;
  width: 30px;
  height: 30px;
  display: block;
  color: rgba(233, 54, 40, 0.4);
  line-height: 33px;
  text-align: center;
}

#like:not(:checked) > label:hover,
#like:not(:checked) > label:hover ~ label {
  color: rgba(233, 54, 40, 0.6);
}

#like > input:checked + label:hover,
#like > input:checked + label:hover ~ label,
#like > input:checked ~ label:hover,
#like > input:checked ~ label:hover ~ label,
#like > label:hover ~ input:checked ~ label {
  color: rgba(233, 54, 40, 0.8);
}

#like > input:checked ~ label {
  color: #e93628;
}

